/*animetext*/

* {
    box-sizing: border-box;
}

body {
    background: #000000;
	
	
}

section {
    padding: 30px 0;
}

.cblue {
    color: #007bff;
}


/*animetext*/

.animetext a {
    font-size: 50px;
}

.mycard {
    background: #17141d;
    color: #999999;
    border-radius: 1rem;
    height: 500px;
    width: 300px;
    padding: 2rem;
    transition: 0.3s;
}

.mycard:not(:first-child) {
    margin-left: -6rem;
    box-shadow: -1rem 0 3rem #000000;
}

.mycard:hover,
.mycard:focus-within {
    transform: translatey(-1rem);
}

.mycard:hover~.mycard,
.mycard:focus-within~.mycard {
    transform: translatex(6rem);
}

.mycard2 {
    background: #17141d;
    color: #999999;
    border-radius: 1rem;
    height: 300px;
    width: 250px;
    padding: 2rem;
    transition: 0.3s;
}

.mycard2:not(:first-child) {
    margin-left: -4rem;
    box-shadow: -1rem 0 3rem #000000;
}

.mycard2:hover,
.mycard2:focus-within {
    transform: translatey(-1rem);
}

.mycard2:hover~.mycard2,
.mycard2:focus-within~.mycard2 {
    transform: translatex(4rem);
}

#skills {
    overflow-y: scroll;
	scrollbar-color:#007bff #000;
}


/*incard*/

.myimg {
    width: 100%;
}

.myimg img {
    background: #fff;
    padding: 30px;
    position: relative;
    top: 125px;
}

.spaseuimage {
    height: 125px;
}

.phead {
    font-weight: 700;
    font-size: 60px;
    height: 183px;
    width: 178px;
}


/*education*/

.edusvg {
    margin: auto;
}

.edusvg svg {
    border-radius: 50%;
    fill: #fff;
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.svgcolor {
    fill: #999999;
}


/*footrt*/

footer {
    color: #999999;
}

footer a {
    text-decoration: none;
    color: #999999;
}


/* width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .mycard {
        font-size: 12px;
        height: 650px;
        width: 300px;
    }
    .mycard2 {
        font-size: 12px;
        width: 170px;
    }
    .phead {
        font-size: 40px;
        width: 100px;
    }
    section h1 {
        font-size: 20px;
    }
    section h3 {
        font-size: 18px;
    }
    span {
        font-size: 15px;
    }
}